/*****************************************************************************/
/* MasterLayout: Style */
/*****************************************************************************/

@import "constants"
//@import url('http://fonts.googleapis.com/css?family=Lato:200,300,400');
//* { font-family: 'Lato', sans-serif; line-height:1.2; vertical-align: middle; font-weight: 400; color: coletivo-font }
